@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
    background-color: rgb(223, 223, 231);
    color: goldenrod;
    font: normal 16px 'Rubik Wet Paint', cursive;
}

.inp {
    border: none;
    border-bottom: 3px solid gray;
    background-color: rgb(223, 223, 231);
    color: green;
    font: normal 16px 'Rubik Wet Paint', cursive;
}

.btn {
    border: 3px solid gray;
    background-color: black;
    margin: 0px;
    color: white;
    cursor: pointer;
    block-size: 60px;
}
