@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
    background-color: rgb(223, 223, 231);
    color: goldenrod;
    font: normal 16px 'Rubik Wet Paint', cursive;
}

.all {
    text-align: center;
}

.inp {
    border: none;
    border-bottom: 3px solid gray;
    background-color: rgb(223, 223, 231);
    color: green;
    font: normal 16px 'Rubik Wet Paint', cursive;
    width: 40%;
}

.btn {
    border: 3px solid gray;
    background-color: black;
    color: white;
    cursor: pointer;
}

.bug {
    color: red;
}
